@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/dishes';
@import 'blocks/how';
@import 'blocks/reaction';
@import 'blocks/footer';