@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
        padding: 0 30px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: 166px 744px;
            column-gap: 170px;
        }
        &__wrapp {
            column-gap: 227px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0 30px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: 166px 644px;
            column-gap: 120px;
        }
        &__wrapp {
            column-gap: 166px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        padding: 0 20px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: 166px 414px;
            column-gap: 100px;
        }
        &__wrapp {
            column-gap: 62px;
        }

    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: 520px;
            justify-content: center;
        }
        &__design {
            display: none;
        }
        &__wrapp {
            margin: 0 auto;
        }
        &__final {
            &-wrapper {
                flex-direction: column;
                align-items: center;
            }
            &-text {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .footer {
        &__wrapper {
            grid-template-columns: 290px;
        }
        &__wrapp {
            grid-template-columns: 100px 80px 70px;
            column-gap: 20px;
        }
        &__link {
            font-size: 15px;
            line-height: 18px;
        }
        &__item {
            &-btn {
                width: 38px;
                height: 18px;
                font-size: 10px;
                line-height: 12px;
            }
        }
        &__final {
            &-text {
                width: 290px;
                font-size: 14px;
            }
        }
    }
}