.promo {/* 
    max-width: 1440px; */
    margin-top: 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: 594px 408px;
        grid-template-rows: 736px;
        grid-auto-rows: 736px;
        column-gap: 198px;
    }
    &__delivery {
        position: relative;
    /*     background-color: #ff9; */
    }
    &__healthy {
        display: flex;
        &-burger {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 44px;
            background: #F95555;
            border-radius: 22px 0px 0px 22px;
        }
        &-text {
            width: 286px;
            height: 44px;
            background: rgba(249, 85, 85, 0.05);
            border-radius: 0px 30px 30px 0;
            padding: 6px 16px;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: #2B2B2B;
        }
    }
    &__title {
        margin-top: 30px;
        font-weight: 700;
        font-size: 80px;
        line-height: 96px;
        text-transform: capitalize;
        color: #2B2B2B;
        span {
            color: #F95555;
        }
    }
    &__subtitle {
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #4A4A4A;
    }
    &__btns {
        margin-top: 40px;
        width: 423px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        
        &-red {
            position: relative;
            padding: 12px 30px;
            width: 206px;
            height: 56px;
            background: #F95555;
            box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
            border-radius: 4px 20px;
            border: none;
            color: #FFFFFF;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 26px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 8px;
                background: url('../icons/promo/arrows.png') center (center / cover) no-repeat;
            }
        }
        &-white {
            padding: 12px 30px;
            width: 179px;
            height: 56px;
            border: 1px solid #F95555;
            filter: drop-shadow(0px 10px 30px rgba(43, 43, 43, 0.2));
            border-radius: 4px 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #F95555;
        }
    }
    &__menu {
        margin-top: 22px;
// ширина блока залежить від батька, вона задана в wrapper 
        height: 152px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 152px;
        grid-auto-rows: 152px;
        column-gap: 24px;
        &-item {
            position: relative;
            width: 182px;
            height: 152px;
        }
        &-img {
            width: 100%;
            object-fit: cover;
        }

    }
    &__arrow {
        position: absolute;
        width: 245px;
        height: 99px;
        left: 505px;
        top: 420px;
        background: url('../icons/promo/arrow_red.png') center (center / cover) no-repeat;
        z-index: 5;
    }
    &__caurusel {
        position: relative;
      /*   background-color: #ff9; */
    }
    &__humburger {
        position: relative;
        margin-top: 18px;
        width: 400px;
        height: 585px;
        &-img {
            position: absolute;
            left: -30px; 
            width: 115%;
            z-index: 1;
         /*    height: 125%; */
            object-fit: cover;  
        } 
        &-btns {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 230px;
            height: 48px;
            margin: -23px auto;
            z-index: 5;
        }
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 48px;
            background: #FFFFFF;
            border-radius: 4px 20px;
            border: none;
            &-red {
                width: 100px;
                height: 48px;
                background: #F95555;
                border-radius: 4px 20px;
                border: none;
            }
        }
        &-discount {
            position: absolute;
            width: 154px;
            height: 144px;
            background: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
            border-radius: 10px;
            top: 102px;
            left: -76px;
            padding: 20px;
            z-index: 5;
            &-img {
                position: absolute;
                width: 56px;
                height: 56px;
                left: 118px;
                top: -20px;
            }
            &-persent {
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                color: #F95555;
            }
            &-text {
                margin-top: 8px;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #000000
            }

        }

        &-deliver {
            margin-top: 62px;
            display: flex;
            justify-content: space-between;
            width: 408px;
            height: 70px;
            &-photo {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                width: 70px;
                height: 70px;
                background-color: #fff;
                box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
                border-radius: 100%;
                img {
                    width: 75%;
                    height: 75%;
                }
            }
            &-text {
                position: relative;
                padding-left: 0;
                width: 302px;
                height: 64px;
                margin: 3px 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: #4A4A4A;
                &::before {
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: -16px;
                    width: 0;
                    height: 40px;
                    border: 2px solid #F95555;
                }
            }
        }

    }

}
